* {
    box-sizing: border-box;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */


/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}


/* ----------- Google Pixel ----------- */


/* Portrait */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {}


/* Landscape */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {}


/* Desktop/Laptop */

.video-container {
    height: 0px;
    widows: 0px;
}

.projects {
    height: 100%;
    width: 100%;
    background-color: #07698fe7;
    text-align: center;
}

video {
    top: 0;
    position: absolute;
    zoom: 200%;
    z-index: -1;
    overflow: hidden;
}

.video-overlay {
    position: absolute;
    height: 100%;
    width: -webkit-fill-available;
    background-color: #07698fe7;
    overflow: hidden;
}

.video-header {
    top: 0;
    position: absolute;
    height: 40px;
    width: 100vw;
    background-color: #07516f80;
}

.nav-bar-logo {
    display: block;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0;
    box-sizing: none;
    background-color: #00ffff;
}

.nav-bar-links-ul {
    display: grid;
    grid-template-columns: repeat(16, auto);
    list-style: none;
}

.link-1 {
    grid-column: 16;
    grid-row: 1;
    padding-bottom: 10px;
}

.link-2 {
    z-index: 100;
    grid-column: 15;
    grid-row: 1;
    padding-bottom: 10px;
}

.link-3 {
    z-index: 100;
    grid-column: 14;
    grid-row: 1;
    padding-bottom: 10px;
}

.link-2-btn {
    border: none;
    background: none;
    color: #f5f5f5;
    text-decoration: none;
}

.link-3-btn {
    border: none;
    background: none;
    color: #f5f5f5;
    text-decoration: none;
    padding-bottom: 10px;
}

@keyframes header {
    from {
        top: 1000px;
    }
    to {
        top: 200px;
    }
}

.header-animation-1 {
    color: #f5f5f5;
    text-align: center;
    font-size: 42px;
    font-weight: lighter;
    position: relative;
    animation-name: header;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.header-animation-2 {
    color: #f5f5f5;
    text-align: center;
    font-size: 42px;
    font-weight: lighter;
    position: relative;
    animation-name: header;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.scroll-button {
    position: relative;
}

.bounce {
    animation: bounce 3s infinite;
}

.down_arrow_scroll {
    position: absolute;
    bottom: -619px;
    right: 50%;
    height: 40px;
    width: 40px;
    /* animation: fadein 4s; */
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(5px);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}