<<<<<<< HEAD
* {
    box-sizing: border-box;
}

video {
    position: absolute;
    width: 100%;
=======
*{box-sizing: border-box;}

video {
    position: absolute;
    width: 100vw;
>>>>>>> 1d3bd86dd549e579b1ad86f5f4908f86452856e2
    z-index: -1;
}

.video-overlay {
    position: absolute;
<<<<<<< HEAD
    height: 100%;
    width: 100%;
    background-color: #07698fe7;
=======
    height: 100vh;
    width: 100vw;
    background-color: #0090c96b;
>>>>>>> 1d3bd86dd549e579b1ad86f5f4908f86452856e2
}

.video-header {
    position: absolute;
<<<<<<< HEAD
    height: 40px;
    width: 100vw;
    background-color: #07516f80;
}

.nav-bar-logo {
    display: block;
    position: absolute;
    height: 40px;
    width: 40px;
    box-sizing: none;
    background-color: #00ffff;
=======
    height: 10vh;
    width: 100vw;
    background-color: #0091c980;
>>>>>>> 1d3bd86dd549e579b1ad86f5f4908f86452856e2
}

.nav-bar-links-ul {
    display: grid;
<<<<<<< HEAD
    grid-template-columns: repeat(16, auto);
    list-style: none;
}

.link-1 {
    grid-column: 16;
    grid-row: 1;
    padding-bottom: 10px;
}

.link-2 {
    grid-column: 15;
    grid-row: 1;
    padding-bottom: 10px;
}

.link-3 {
    grid-column: 14;
    grid-row: 1;
    padding-bottom: 10px;
}

.link-1-btn {
    border: none;
    background: none;
    color: #f5f5f5;
}

.link-2-btn {
    border: none;
    background: none;
    color: #f5f5f5;
}

.link-3-btn {
    border: none;
    background: none;
    color: #f5f5f5;
}

@keyframes header {
    from {
        top: 1000px;
    }
    to {
        top: 200px;
    }
}

.header-animation-1 {
    color: #f5f5f5;
    text-align: center;
    font-size: 42px;
    font-weight: lighter;
    position: relative;
    animation-name: header;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.header-animation-2 {
    color: #f5f5f5;
    text-align: center;
    font-size: 42px;
    font-weight: lighter;
    position: relative;
    animation-name: header;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.scroll-button {
    position: relative;
}

.bounce {
    animation: bounce 3s infinite;
}

.down_arrow_scroll {
    position: absolute;
    bottom: -619px;
    right: 50%;
    height: 40px;
    width: 40px;
    /* animation: fadein 4s; */
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(5px);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
=======
    grid-template-columns: repeat(8, auto);
    list-style: none;
}

/* .nav-bar-links {

} */
>>>>>>> 1d3bd86dd549e579b1ad86f5f4908f86452856e2
